body {
    color:white;
    background-color: rgb(34, 32, 32);
    grid-auto-flow: row;
    font-size: larger;
    text-align:center;
}
h1{
    font-size: larger;
    font-family: Verdana,Tahoma, sans-serif;
    font-weight: bold;
    gap: 10px;
    padding-bottom: 15px;
}
h2{
    font-size: large;
    font-family: Verdana,Tahoma, sans-serif;
    font-weight: bold;
    gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
h3{
    font-family: Verdana,Tahoma, sans-serif;
    font-weight: bold;
    font-size:medium;
    color:tomato;
    background-color: rgb(34, 32, 32);
    padding-bottom: 5px;
    padding-top: 5px;
}
h4{
    font-family: Verdana,Tahoma, sans-serif;
    font-weight: bold;
    font-size:small;
    color:lightblue;
    background-color: rgb(34, 32, 32);
}
p{
    font-size:smaller
}
img{
    width:10%;
    height: auto;
}
video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}